<html>

<head>
    <!--  Cargar archivos estáticos  -->
    {% load static %}

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  
  <!-- Bootstrap Icons CDN -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <!-- Bootstrap JS Bundle (incluye Popper) -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">

    <link href="{% static 'base/css/general.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'base/css/menu.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'base/css/footer.css' %}" rel="stylesheet" type="text/css"/>

    <!-- Bloque css cambiante -->
    {% block css %} {% endblock css %}
    <!-- Mejor -->
    {% block extra_css %}{% endblock extra_css %}

    <title>{% block title %} {% endblock title %}</title>
</head>

<body>
<div class="content">
    <!-- Incluir menú -->
    {% include 'base/menu.html' %}

    <section class="section">
        <!-- Contenido cambiante -->
        {% block content %} {% endblock content %}
    </section>

    <!-- Incluir footer -->
    {% include 'base/footer.html' %}
</div>
{% block extra_scripts %}{% endblock extra_scripts %}
</body>
</html>